Repository trezor/blockbook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-deploy-and-test-bcash, backend-deploy-and-test-bgold, backend-deploy-and-test-bitcoin, backend-deploy-and-test-dash, backend-deploy-and-test-digibyte, backend-deploy-and-test-dogecoin, backend-deploy-and-test-litecoin, backend-deploy-and-test-namecoin, backend-deploy-and-test-vertcoin, backend-deploy-and-test-zcash, backend-deploy-and-test-bitcoin_testnet, backend-deploy-and-test-zcash_testnet, backend-deploy-and-test-ethereum_testnet_ropsten

backend-deploy-and-test-bcash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bcash

backend-deploy-and-test-bgold:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bgold

backend-deploy-and-test-bitcoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin

backend-deploy-and-test-dash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dash

backend-deploy-and-test-digibyte:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh digibyte

backend-deploy-and-test-dogecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dogecoin

backend-deploy-and-test-litecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh litecoin

backend-deploy-and-test-namecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh namecoin

backend-deploy-and-test-vertcoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh vertcoin

backend-deploy-and-test-zcash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash

backend-deploy-and-test-bitcoin_testnet:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin_testnet bitcoin-testnet bitcoin=test testnet3/debug.log

backend-deploy-and-test-zcash_testnet:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash_testnet zcash-testnet zcash=test testnet3/debug.log

backend-deploy-and-test-ethereum_testnet_ropsten:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh ethereum_testnet_ropsten ethereum-testnet-ropsten ethereum=test ethereum_testnet_ropsten.log

zcash (+testnet) 5.1.0 → 5.2.0
  configs/coins/zcash.json
  configs/coins/zcash_testnet.json
Due: backend-deploy-and-test-zcash, backend-deploy-and-test-zcash_testnet

eth (+testnet) 1.10.19 → 1.10.21
  configs/coins/ethereum.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_ropsten.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

firo 0.14.10.0 → 0.14.11.1
  configs/coins/firo.json
Due: none

Return token exchange rates via API
  api/worker.go
  blockbook.go
  db/fiat.go
  db/fiat_test.go
  fiat/coingecko.go
  fiat/fiat_rates.go
  server/public.go
  server/public_ethereumtype_test.go
  server/public_test.go
  server/websocket.go
  static/test-websocket.html
Due: none

feature: add rsk support
  api/worker.go
  bchain/coins/blockchain.go
  bchain/coins/rsk/erc20.go
  bchain/coins/rsk/erc20_test.go
  bchain/coins/rsk/rskparser.go
  bchain/coins/rsk/rskparser_test.go
  bchain/coins/rsk/rskrpc.go
  bchain/coins/rsk/rsktx.pb.go
  bchain/coins/rsk/rsktx.proto
  build/templates/backend/debian/service
  build/templates/blockbook/blockchaincfg.json
  build/tools/templates.go
  configs/coins/rsk.json
  db/txcache.go
  docs/ports.md
  tests/rpc/testdata/rsk.json
  tests/tests.json
Due: none

fix port 8551 collision
  build/tools/templates.go
  configs/coins/ethereum.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_ropsten.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

dash (+testnet) 0.17.0.3 → 0.18.0.1
  configs/coins/dash.json
  configs/coins/dash_testnet.json
Due: backend-deploy-and-test-dash

feat: edit Dockerfile for arm64 build compatibility
  build/docker/bin/Dockerfile
Due: none

Enable arm64 and MacOS Docker build
  build/templates/backend/debian/control
  build/templates/blockbook/debian/control
  build/tools/image_status.sh
  build/tools/templates.go
  configs/coins/bitcoin_regtest.json
Due: none

Bump geth to 1.10.23, prysm to 3.0.0, add goerli and mainnet consensus
  configs/coins/ethereum.json
  configs/coins/ethereum_archive_consensus.json
  configs/coins/ethereum_consensus.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_goerli_archive_consensus.json
  configs/coins/ethereum_testnet_goerli_consensus.json
  configs/coins/ethereum_testnet_ropsten.json
  configs/coins/ethereum_testnet_ropsten_archive.json
  configs/coins/ethereum_testnet_ropsten_archive_consensus.json
  configs/coins/ethereum_testnet_ropsten_consensus.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

Return address aliases from API
  api/types.go
  api/worker.go
  api/xpub.go
  bchain/baseparser.go
  bchain/coins/btc/bitcoinlikeparser.go
  bchain/coins/btc/bitcoinrpc.go
  bchain/coins/eth/contract_test.go
  bchain/coins/eth/ethparser.go
  bchain/coins/eth/ethparser_test.go
  bchain/coins/eth/ethrpc.go
  bchain/types.go
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
  db/bulkconnect.go
  db/rocksdb.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  server/public_ethereumtype_test.go
  tests/dbtestdata/dbtestdata_ethereumtype.go
Due: none

Set up ethereum authrpc port
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

Increase workers for ETH bulk import mode
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: none

Process ERC721 and ERC1155 tokens
  api/types.go
  api/worker.go
  bchain/baseparser.go
  bchain/coins/eth/contract.go
  bchain/coins/eth/contract_test.go
  bchain/coins/eth/dataparser.go
  bchain/coins/eth/dataparser_test.go
  bchain/coins/eth/erc20.go
  bchain/coins/eth/erc20_test.go
  bchain/coins/eth/ethparser.go
  bchain/coins/eth/ethrpc.go
  bchain/mempool_ethereum_type.go
  bchain/types.go
  bchain/types_ethereum_type.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  db/rocksdb_test.go
  docs/rocksdb.md
  server/websocket.go
  tests/dbtestdata/dbtestdata_ethereumtype.go
Due: none

eth archive (+testnet) 1.10.12 → 1.10.15
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: none

Return internal data and ERC721 and ERC1155 tokens from API and explorer
  api/types.go
  api/worker.go
  bchain/coins/eth/ethrpc.go
  server/public.go
  server/public_ethereumtype_test.go
  static/templates/address.html
  static/templates/txdetail_ethereumtype.html
Due: none

Fiat rates refactor, fetch rates for tokens
  api/types.go
  api/worker.go
  blockbook.go
  configs/coins/ethereum_testnet_ropsten_archive.json
  db/fiat.go
  db/fiat_test.go
  fiat/coingecko.go
  fiat/fiat_rates.go
  fiat/fiat_rates_test.go
  fiat/mock_data/01-02-2013.json
  fiat/mock_data/01-05-2013.json
  fiat/mock_data/04-04-2013.json
  fiat/mock_data/05-05-2013.json
  fiat/mock_data/05-06-2013.json
  fiat/mock_data/07-10-2013.json
  fiat/mock_data/13-06-2014.json
  fiat/mock_data/20-04-2013.json
  fiat/mock_data/20-11-2019.json
  fiat/mock_data/21-11-2019.json
  fiat/mock_data/22-11-2019.json
  fiat/mock_data/23-09-2011.json
  fiat/mock_data/27-04-2013.json
  fiat/mock_data/28-04-2013.json
  fiat/mock_data/29-04-2013.json
  fiat/mock_data/coinlist.json
  fiat/mock_data/current.json
  fiat/mock_data/market_chart_eth_other.json
  fiat/mock_data/market_chart_eth_usd_1.json
  fiat/mock_data/market_chart_eth_usd_max.json
  fiat/mock_data/market_chart_token_other.json
  fiat/mock_data/simpleprice_base.json
  fiat/mock_data/simpleprice_tokens.json
  fiat/mock_data/vs_currencies.json
  server/public.go
  server/public_test.go
  server/websocket.go
Due: none

Store contract info in DB
  api/types.go
  api/worker.go
  api/xpub.go
  bchain/basechain.go
  bchain/coins/blockchain.go
  bchain/coins/eth/contract.go
  bchain/coins/eth/contract_test.go
  bchain/coins/eth/dataparser.go
  bchain/coins/eth/dataparser_test.go
  bchain/coins/eth/ethrpc.go
  bchain/types.go
  bchain/types_ethereum_type.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  server/public.go
  server/public_ethereumtype_test.go
  server/websocket.go
  static/templates/address.html
  static/templates/txdetail_ethereumtype.html
  tests/dbtestdata/dbtestdata_ethereumtype.go
  tests/dbtestdata/fakechain_ethereumtype.go
Due: none

Bulk import ETH internal transactions
  bchain/coins/eth/ethrpc.go
  bchain/types.go
  bchain/types_ethereum_type.go
  db/bulkconnect.go
  db/rocksdb.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
Due: none

Create ethereum profiles for backend archive mode
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: none

Don't use break in switch where it's not needed
  bchain/mq.go
Due: none

Simplify comparisons
  bchain/mq.go
  tests/dbtestdata/fakechain.go
Due: none

Process ETH transaction failure reasons
  bchain/coins/eth/ethparser.go
  bchain/coins/eth/ethparser_test.go
  bchain/coins/eth/ethrpc.go
  bchain/types_ethereum_type.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  db/rocksdb_test.go
  tests/dbtestdata/dbtestdata_ethereumtype.go
Due: none

Download ETH 4byte signatures
  bchain/coins/eth/dataparser.go
  blockbook.go
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
  db/bulkconnect.go
  db/rocksdb.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  db/rocksdb_test.go
  fiat/fiat_rates.go
  fourbyte/fourbyte.go
  fourbyte/fourbyte_test.go
Due: none

Index ETH internal transactions
  api/worker.go
  bchain/coins/blockchain.go
  bchain/types_ethereum_type.go
  db/rocksdb.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  tests/dbtestdata/dbtestdata_ethereumtype.go
Due: none

Process ENS records
  bchain/coins/eth/contract.go
  bchain/coins/eth/dataparser.go
  bchain/coins/eth/dataparser_test.go
  bchain/coins/eth/ethrpc.go
  bchain/types_ethereum_type.go
Due: none

Bump eth archive (+testnet) 1.10.15 → 1.10.17
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: none

Parse ethereum input data
  api/types.go
  api/worker.go
  bchain/coins/eth/dataparser.go
  bchain/coins/eth/dataparser_test.go
  bchain/types_ethereum_type.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
  fourbyte/fourbyte.go
  fourbyte/fourbyte_test.go
  server/public.go
  server/public_ethereumtype_test.go
  server/public_test.go
  static/templates/address.html
  static/templates/tx.html
  static/templates/txdetail_ethereumtype.html
Due: none

Bump go-ethereum to v1.10.15
  go.mod
  go.sum
Due: none

Path conditions:
  backend-deploy-and-test-bcash: any of: configs/coins/bcash.json
  backend-deploy-and-test-bgold: any of: configs/coins/bgold.json
  backend-deploy-and-test-bitcoin: any of: configs/coins/bitcoin.json
  backend-deploy-and-test-dash: any of: configs/coins/dash.json
  backend-deploy-and-test-digibyte: any of: configs/coins/digibyte.json
  backend-deploy-and-test-dogecoin: any of: configs/coins/dogecoin.json
  backend-deploy-and-test-litecoin: any of: configs/coins/litecoin.json
  backend-deploy-and-test-namecoin: any of: configs/coins/namecoin.json
  backend-deploy-and-test-vertcoin: any of: configs/coins/vertcoin.json
  backend-deploy-and-test-zcash: any of: configs/coins/zcash.json
  backend-deploy-and-test-bitcoin_testnet: any of: configs/coins/bitcoin_testnet.json
  backend-deploy-and-test-zcash_testnet: any of: configs/coins/zcash_testnet.json
  backend-deploy-and-test-ethereum_testnet_ropsten: any of: configs/coins/ethereum_testnet_ropsten.json
