Repository trezor/blockbook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-deploy-and-test-bcash, backend-deploy-and-test-bgold, backend-deploy-and-test-bitcoin, backend-deploy-and-test-dash, backend-deploy-and-test-digibyte, backend-deploy-and-test-dogecoin, backend-deploy-and-test-litecoin, backend-deploy-and-test-namecoin, backend-deploy-and-test-vertcoin, backend-deploy-and-test-zcash, backend-deploy-and-test-bitcoin_testnet, backend-deploy-and-test-zcash_testnet, backend-deploy-and-test-ethereum_testnet_ropsten

.gitlab-ci.yml:

stages:
  - build
  - test
  - backend-deploy-and-test

build:
  stage: build
  only:
    - master
  tags:
    - blockbook
  script: make build

unit-test:
  stage: test
  only:
    - master
  tags:
    - blockbook
  script: make test

integration-test:
  stage: test
  only:
    - schedules
  tags:
    - blockbook
  script: make test-integration ARGS="-run='TestIntegration/(bcash|bgold|bitcoin|dash|dogecoin|litecoin|vertcoin|zcash)=main/'"

backend-deploy-and-test-bcash:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/bcash.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bcash

backend-deploy-and-test-bgold:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/bgold.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bgold

backend-deploy-and-test-bitcoin:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/bitcoin.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin

backend-deploy-and-test-dash:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/dash.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dash

backend-deploy-and-test-digibyte:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/digibyte.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh digibyte

backend-deploy-and-test-dogecoin:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/dogecoin.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dogecoin

backend-deploy-and-test-litecoin:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/litecoin.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh litecoin

backend-deploy-and-test-namecoin:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/namecoin.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh namecoin

backend-deploy-and-test-vertcoin:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/vertcoin.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh vertcoin

backend-deploy-and-test-zcash:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/zcash.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash

backend-deploy-and-test-bitcoin_testnet:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/bitcoin_testnet.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin_testnet bitcoin-testnet bitcoin=test testnet3/debug.log 

backend-deploy-and-test-zcash_testnet:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/zcash_testnet.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash_testnet zcash-testnet zcash=test testnet3/debug.log 

backend-deploy-and-test-ethereum_testnet_ropsten:
  stage: backend-deploy-and-test
  only:
    refs:
      - master
    changes:
      - configs/coins/ethereum_testnet_ropsten.json
  tags:
    - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh ethereum_testnet_ropsten ethereum-testnet-ropsten ethereum=test ethereum_testnet_ropsten.log

Simplify comparisons
  bchain/mq.go
  tests/dbtestdata/fakechain.go
Due: none

Don't use break in switch where it's not needed
  bchain/coins/eth/ethrpc.go
  bchain/mq.go
Due: none

rebase with upstream master
  server/public_test.go
Due: none

mona (+testnet) 0.20.2 → 0.20.3
  configs/coins/monacoin.json
  configs/coins/monacoin_testnet.json
Due: none

Fiat rates refactor, fetch rates for tokens
  api/types.go
  api/worker.go
  blockbook.go
  configs/coins/ethereum_testnet_ropsten_archive.json
  db/fiat.go
  db/fiat_test.go
  fiat/coingecko.go
  fiat/fiat_rates.go
  fiat/fiat_rates_test.go
  fiat/mock_data/01-02-2013.json
  fiat/mock_data/01-05-2013.json
  fiat/mock_data/04-04-2013.json
  fiat/mock_data/05-05-2013.json
  fiat/mock_data/05-06-2013.json
  fiat/mock_data/07-10-2013.json
  fiat/mock_data/13-06-2014.json
  fiat/mock_data/20-04-2013.json
  fiat/mock_data/20-11-2019.json
  fiat/mock_data/21-11-2019.json
  fiat/mock_data/22-11-2019.json
  fiat/mock_data/23-09-2011.json
  fiat/mock_data/27-04-2013.json
  fiat/mock_data/28-04-2013.json
  fiat/mock_data/29-04-2013.json
  fiat/mock_data/coinlist.json
  fiat/mock_data/current.json
  fiat/mock_data/market_chart_eth_other.json
  fiat/mock_data/market_chart_eth_usd_1.json
  fiat/mock_data/market_chart_eth_usd_max.json
  fiat/mock_data/market_chart_token_other.json
  fiat/mock_data/simpleprice_base.json
  fiat/mock_data/simpleprice_tokens.json
  fiat/mock_data/vs_currencies.json
  server/public.go
  server/public_test.go
  server/websocket.go
Due: none

Setup fiat rates downloader for Ethereum Archive
  bchain/coins/blockchain.go
  configs/coins/ethereum_archive.json
Due: none

eth (+testnet) 1.10.17 → 1.10.19
  configs/coins/ethereum.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_ropsten.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

firo 0.14.9.1 → 0.14.10.0
  configs/coins/firo.json
Due: none

Update firo.json
  configs/coins/firo.json
Due: none

ltc (+testnet) 0.21.2 → 0.21.2.1
  configs/coins/litecoin.json
  configs/coins/litecoin_testnet.json
Due: backend-deploy-and-test-litecoin

firo 0.14.9.1 → 0.14.10.0 (#778)
  configs/coins/firo.json
Due: none

eth archive (+testnet) 1.10.17 → 1.10.19
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: none

Set up ethereum authrpc port
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_ropsten.json
  configs/coins/ethereum_testnet_ropsten_archive.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

Add Ropsten PoS consensus layer services
  configs/coins/ethereum_testnet_ropsten.json
  configs/coins/ethereum_testnet_ropsten_archive.json
  configs/coins/ethereum_testnet_ropsten_archive_consensus.json
  configs/coins/ethereum_testnet_ropsten_consensus.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten

Fix ERC1155 transfer event processing
  bchain/coins/eth/contract.go
Due: none

Add Feathercoin support
  bchain/coins/blockchain.go
  bchain/coins/feathercoin/feathercoinparser.go
  bchain/coins/feathercoin/feathercoinparser_test.go
  bchain/coins/feathercoin/feathercoinrpc.go
  build/docker/bin/Dockerfile
  build/templates/blockbook/debian/rules
  configs/coins/feathercoin.json
  docs/ports.md
  tests/rpc/testdata/feathercoin.json
  tests/sync/testdata/feathercoin.json
  tests/tests.json
Due: none

dogecoin (+testnet) 1.14.5 → 1.14.6
  configs/coins/dogecoin.json
  configs/coins/dogecoin_testnet.json
Due: backend-deploy-and-test-dogecoin

zcash (+testnet) 5.0.0 → 5.1.0
  configs/coins/zcash.json
  configs/coins/zcash_testnet.json
Due: backend-deploy-and-test-zcash, backend-deploy-and-test-zcash_testnet

eth (+testnet) 1.10.19 → 1.10.20
  configs/coins/ethereum.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_ropsten.json
Due: backend-deploy-and-test-ethereum_testnet_ropsten
