Repository trezor/blockbook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-deploy-and-test-bcash, backend-deploy-and-test-bgold, backend-deploy-and-test-bitcoin, backend-deploy-and-test-dash, backend-deploy-and-test-digibyte, backend-deploy-and-test-dogecoin, backend-deploy-and-test-litecoin, backend-deploy-and-test-namecoin, backend-deploy-and-test-vertcoin, backend-deploy-and-test-zcash, backend-deploy-and-test-bitcoin_testnet, backend-deploy-and-test-zcash_testnet, backend-deploy-and-test-ethereum_testnet_ropsten

backend-deploy-and-test-bcash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bcash

backend-deploy-and-test-bgold:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bgold

backend-deploy-and-test-bitcoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin

backend-deploy-and-test-dash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dash

backend-deploy-and-test-digibyte:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh digibyte

backend-deploy-and-test-dogecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dogecoin

backend-deploy-and-test-litecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh litecoin

backend-deploy-and-test-namecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh namecoin

backend-deploy-and-test-vertcoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh vertcoin

backend-deploy-and-test-zcash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash

backend-deploy-and-test-bitcoin_testnet:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin_testnet bitcoin-testnet bitcoin=test testnet3/debug.log

backend-deploy-and-test-zcash_testnet:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash_testnet zcash-testnet zcash=test testnet3/debug.log

backend-deploy-and-test-ethereum_testnet_ropsten:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh ethereum_testnet_ropsten ethereum-testnet-ropsten ethereum=test ethereum_testnet_ropsten.log

Add admin page for refetching internal data
  server/internal.go
  static/internal_templates/base.html
  static/internal_templates/block_internal_data_errors.html
  static/internal_templates/error.html
  static/internal_templates/index.html
Due: none

Refactor html template handling
  server/html_templates.go
  server/html_templates_test.go
  server/public.go
  server/public_test.go
Due: none

Get errors of fetching internal data from DB
  db/rocksdb_ethereumtype.go
Due: none

Refetch failed ethereum internal data
  api/ethereumtype.go
  build/docker/bin/Makefile
  db/rocksdb.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_test.go
  server/internal.go
  static/internal_templates/block_internal_data_errors.html
Due: none

prysm 4.0.0 → 4.0.2
  configs/coins/ethereum_archive_consensus.json
  configs/coins/ethereum_consensus.json
  configs/coins/ethereum_testnet_goerli_archive_consensus.json
  configs/coins/ethereum_testnet_goerli_consensus.json
  configs/coins/ethereum_testnet_sepolia_archive_consensus.json
  configs/coins/ethereum_testnet_sepolia_consensus.json
Due: none

perf: leverage binary search for managing for Ids and MultiTokenValues (#910)
  blockbook.go
  common/internalstate.go
  db/rocksdb.go
  db/rocksdb_ethereumtype.go
  db/rocksdb_ethereumtype_test.go
Due: none

dash (+testnet) 18.2.2 → 19.0.0
  configs/coins/dash.json
  configs/coins/dash_testnet.json
Due: backend-deploy-and-test-dash

Fix Ethereum backend version in configs
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_sepolia.json
  configs/coins/ethereum_testnet_sepolia_archive.json
Due: none

prysm 4.0.2 → 4.0.3
  configs/coins/ethereum_archive_consensus.json
  configs/coins/ethereum_consensus.json
  configs/coins/ethereum_testnet_goerli_archive_consensus.json
  configs/coins/ethereum_testnet_goerli_consensus.json
  configs/coins/ethereum_testnet_sepolia_archive_consensus.json
  configs/coins/ethereum_testnet_sepolia_consensus.json
Due: none

eth (+testnets) 1.11.5 → 1.11.6
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_sepolia.json
  configs/coins/ethereum_testnet_sepolia_archive.json
Due: none

bsc 1.1.21 → 1.1.23, increase bsc blockbook db cache
  configs/coins/bsc.json
  configs/coins/bsc_archive.json
Due: none

Refactor fiat rates handler
  api/worker.go
  api/xpub.go
  blockbook.go
  common/currencyrateticker.go
  common/internalstate.go
  db/fiat.go
  db/fiat_test.go
  fiat/coingecko.go
  fiat/fiat_rates.go
  fiat/fiat_rates_test.go
  server/internal.go
  server/public.go
  server/public_test.go
  server/socketio.go
  server/websocket.go
Due: none

Get hourly and five minutes fiat rates
  db/fiat.go
  db/fiat_test.go
  fiat/coingecko.go
  fiat/fiat_rates.go
  server/public_test.go
Due: none

Refactor fiat rates usage
  api/worker.go
  bchain/coins/blockchain.go
  blockbook.go
  fiat/fiat_rates.go
  fiat/fiat_rates_test.go
  server/public.go
  server/public_ethereumtype_test.go
  server/public_test.go
  static/templates/base.html
Due: none

Enable coingecko pro API endpoint, count coingecko requests in metrics
  blockbook.go
  common/metrics.go
  configs/coins/avalanche.json
  configs/coins/avalanche_archive.json
  configs/coins/bcash.json
  configs/coins/bgold.json
  configs/coins/bitcoin.json
  configs/coins/bitcore.json
  configs/coins/bsc.json
  configs/coins/bsc_archive.json
  configs/coins/dash.json
  configs/coins/digibyte.json
  configs/coins/dogecoin.json
  configs/coins/ecash.json
  configs/coins/ethereum-classic.json
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_ropsten_archive.json
  configs/coins/ethereum_testnet_sepolia_archive.json
  configs/coins/fujicoin.json
  configs/coins/groestlcoin.json
  configs/coins/litecoin.json
  configs/coins/monacoin.json
  configs/coins/namecoin.json
  configs/coins/omotenashicoin.json
  configs/coins/trezarcoin.json
  configs/coins/vertcoin.json
  configs/coins/zcash.json
  fiat/coingecko.go
  fiat/fiat_rates.go
  fiat/fiat_rates_test.go
  server/public_test.go
Due: backend-deploy-and-test-bcash, backend-deploy-and-test-bgold, backend-deploy-and-test-bitcoin, backend-deploy-and-test-dash, backend-deploy-and-test-digibyte, backend-deploy-and-test-dogecoin, backend-deploy-and-test-litecoin, backend-deploy-and-test-namecoin, backend-deploy-and-test-vertcoin, backend-deploy-and-test-zcash

Disable secondary currency if fiat rates disabled
  server/public.go
  server/public_ethereumtype_test.go
  server/public_test.go
  static/css/main.min.3.css
  static/js/main.js
  static/js/main.min.2.js
  static/js/main.min.3.js
  static/templates/base.html
Due: none

zec (+testnet) 5.4.2 → 5.5.0
  configs/coins/zcash.json
  configs/coins/zcash_testnet.json
Due: backend-deploy-and-test-zcash, backend-deploy-and-test-zcash_testnet

Return addrTxCount for get xpub endpoint
  api/types.go
  api/xpub.go
  blockbook-api.ts
  server/public_test.go
Due: none

Bump eCash node to Bitcoin ABC 0.27.3
  configs/coins/ecash.json
Due: none

Adopt sats standard to show amounts (for Bitcoin) #924
  server/html_templates.go
  server/html_templates_test.go
  server/public.go
  server/public_test.go
Due: none

Use only taproot scripts for mempool golomb filter
  bchain/coins/btc/bitcoinrpc.go
  bchain/mempool_bitcoin_type.go
  bchain/mempool_bitcoin_type_test.go
  configs/coins/bitcoin.json
  configs/coins/bitcoin_testnet.json
  tests/dbtestdata/fakechain.go
Due: backend-deploy-and-test-bitcoin, backend-deploy-and-test-bitcoin_testnet

Add getMempoolFilters websocket method
  bchain/basemempool.go
  bchain/coins/blockchain.go
  bchain/coins/btc/bitcoinrpc.go
  bchain/mempool_bitcoin_type.go
  bchain/mempool_bitcoin_type_test.go
  bchain/mempool_ethereum_type.go
  bchain/types.go
  blockbook-api.ts
  build/tools/typescriptify/typescriptify.go
  configs/coins/bitcoin.json
  configs/coins/bitcoin_testnet.json
  server/public_test.go
  server/websocket.go
  server/ws_types.go
  static/test-websocket.html
Due: backend-deploy-and-test-bitcoin, backend-deploy-and-test-bitcoin_testnet

Golomb filter of scriptPubKeys for mempool txs
  bchain/coins/btc/bitcoinrpc.go
  bchain/mempool_bitcoin_type.go
  bchain/mempool_bitcoin_type_test.go
  bchain/types.go
  go.mod
  go.sum
  tests/dbtestdata/fakechain.go
Due: none

Remove duplicate scripts from golomb filter
  bchain/mempool_bitcoin_type.go
  bchain/mempool_bitcoin_type_test.go
Due: none

etc 1.12.10 → 1.12.11
  configs/coins/ethereum-classic.json
Due: none

README: Add Rust Client
  README.md
Due: none

zec (+testnet) 5.4.2 → 5.5.1
  configs/coins/zcash.json
  configs/coins/zcash_testnet.json
Due: backend-deploy-and-test-zcash, backend-deploy-and-test-zcash_testnet

btc (+testnet) 24.0.1 → 24.1
  configs/coins/bitcoin.json
  configs/coins/bitcoin_testnet.json
Due: backend-deploy-and-test-bitcoin, backend-deploy-and-test-bitcoin_testnet

btc signet+regtest + arm binaries 24.0.1 → 24.1
  configs/coins/bitcoin.json
  configs/coins/bitcoin_regtest.json
  configs/coins/bitcoin_signet.json
  configs/coins/bitcoin_testnet.json
Due: backend-deploy-and-test-bitcoin, backend-deploy-and-test-bitcoin_testnet

Configure larger mempool and mempool expiry for BTC backend
  build/templates/backend/config/bitcoin.conf
Due: none

feat: add new iochain (rebased on trezor master)
  bchain/coins/blockchain.go
  bchain/coins/iochain/contract.go
  bchain/coins/iochain/dataparser.go
  bchain/coins/iochain/ethparser.go
  bchain/coins/iochain/ethrpc.go
  bchain/coins/iochain/ethtx.pb.go
  bchain/coins/iochain/ethtx.proto
  bchain/coins/iochain/evm.go
Due: none

feat: use iochain logo
  configs/.DS_Store
  static/css/main.css
  static/css/main.min.3.css
  static/templates/base.html
Due: none

Path conditions:
  backend-deploy-and-test-bcash: any of: configs/coins/bcash.json
  backend-deploy-and-test-bgold: any of: configs/coins/bgold.json
  backend-deploy-and-test-bitcoin: any of: configs/coins/bitcoin.json
  backend-deploy-and-test-dash: any of: configs/coins/dash.json
  backend-deploy-and-test-digibyte: any of: configs/coins/digibyte.json
  backend-deploy-and-test-dogecoin: any of: configs/coins/dogecoin.json
  backend-deploy-and-test-litecoin: any of: configs/coins/litecoin.json
  backend-deploy-and-test-namecoin: any of: configs/coins/namecoin.json
  backend-deploy-and-test-vertcoin: any of: configs/coins/vertcoin.json
  backend-deploy-and-test-zcash: any of: configs/coins/zcash.json
  backend-deploy-and-test-bitcoin_testnet: any of: configs/coins/bitcoin_testnet.json
  backend-deploy-and-test-zcash_testnet: any of: configs/coins/zcash_testnet.json
  backend-deploy-and-test-ethereum_testnet_ropsten: any of: configs/coins/ethereum_testnet_ropsten.json
