Repository trezor/blockbook: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-deploy-and-test-bcash, backend-deploy-and-test-bgold, backend-deploy-and-test-bitcoin, backend-deploy-and-test-dash, backend-deploy-and-test-digibyte, backend-deploy-and-test-dogecoin, backend-deploy-and-test-litecoin, backend-deploy-and-test-namecoin, backend-deploy-and-test-vertcoin, backend-deploy-and-test-zcash, backend-deploy-and-test-bitcoin_testnet, backend-deploy-and-test-zcash_testnet, backend-deploy-and-test-ethereum_testnet_ropsten

backend-deploy-and-test-bcash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bcash

backend-deploy-and-test-bgold:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bgold

backend-deploy-and-test-bitcoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin

backend-deploy-and-test-dash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dash

backend-deploy-and-test-digibyte:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh digibyte

backend-deploy-and-test-dogecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh dogecoin

backend-deploy-and-test-litecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh litecoin

backend-deploy-and-test-namecoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh namecoin

backend-deploy-and-test-vertcoin:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh vertcoin

backend-deploy-and-test-zcash:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash

backend-deploy-and-test-bitcoin_testnet:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh bitcoin_testnet bitcoin-testnet bitcoin=test testnet3/debug.log

backend-deploy-and-test-zcash_testnet:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh zcash_testnet zcash-testnet zcash=test testnet3/debug.log

backend-deploy-and-test-ethereum_testnet_ropsten:
  stage: backend-deploy-and-test
  tags:
  - blockbook
  script: ./contrib/scripts/backend-deploy-and-test.sh ethereum_testnet_ropsten ethereum-testnet-ropsten ethereum=test ethereum_testnet_ropsten.log

additional cleanup
  api/worker.go
Due: none

eth(+testnets) 2.54.0 → 2.55.1
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_holesky.json
  configs/coins/ethereum_testnet_holesky_archive.json
  configs/coins/ethereum_testnet_sepolia.json
  configs/coins/ethereum_testnet_sepolia_archive.json
Due: none

remove unused valid value
  api/worker.go
Due: none

etc 1.12.15 → 1.12.17
  configs/coins/ethereum-classic.json
Due: none

perf: add contract info cache for spam token/nft transactions (#994)
  api/worker.go
Due: none

Upgrade go-ethereum dependency to v1.13.5
  build/docker/bin/Dockerfile
  docs/build.md
  go.mod
  go.sum
Due: none

Fix internal admin styles
  server/internal.go
Due: none

Viacoin 0.16.3 binary upgrade
  configs/coins/viacoin.json
Due: none

Bump Polygon Bor to v1.2.0
  configs/coins/polygon.json
  configs/coins/polygon_archive.json
Due: none

Set mempoolfullrbf=1 for Bitcoin
  build/templates/backend/config/bitcoin.conf
  configs/coins/bcash_testnet.json
Due: none

Groestlcoin: Bump to 26.0
  configs/coins/groestlcoin.json
  configs/coins/groestlcoin_regtest.json
  configs/coins/groestlcoin_signet.json
  configs/coins/groestlcoin_testnet.json
Due: none

btc (+testnet) 25.1 → 26.0
  configs/coins/bitcoin.json
  configs/coins/bitcoin_regtest.json
  configs/coins/bitcoin_signet.json
  configs/coins/bitcoin_testnet.json
Due: backend-deploy-and-test-bitcoin, backend-deploy-and-test-bitcoin_testnet

dash (+testnet) 20.0.1 → 20.0.2
  configs/coins/dash.json
  configs/coins/dash_testnet.json
Due: backend-deploy-and-test-dash

Refactor in initialization NewCoinGeckoDownloader
  fiat/coingecko.go
Due: none

Refactor retry logic in Coingecko API
  fiat/coingecko.go
Due: none

Stop notifications of duplicate insertions into ethereum type mempool
  bchain/coins/eth/ethrpc.go
  bchain/mempool_ethereum_type.go
Due: none

firo 0.14.13.0 -> 0.14.13.1
  configs/coins/firo.json
Due: none

fix postinst_script_template
  configs/coins/pivx.json
Due: none

Add a custom node for Bitcoin
  configs/coins/bitcoin.json
Due: backend-deploy-and-test-bitcoin

dash (+testnet) 20.0.2 → 20.0.3
  configs/coins/dash.json
  configs/coins/dash_testnet.json
Due: backend-deploy-and-test-dash

ethereum (+testnets) 2.55.1 → 2.56.0
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_goerli.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_holesky.json
  configs/coins/ethereum_testnet_holesky_archive.json
  configs/coins/ethereum_testnet_sepolia.json
  configs/coins/ethereum_testnet_sepolia_archive.json
Due: none

PIVX: fix postinst_script_template (#1016)
  configs/coins/pivx.json
Due: none

Ethereum: fix ws.port after upgrade to Erigon 2.56.0
  configs/coins/ethereum.json
  configs/coins/ethereum_archive.json
  configs/coins/ethereum_testnet_goerli_archive.json
  configs/coins/ethereum_testnet_holesky_archive.json
  configs/coins/ethereum_testnet_sepolia.json
  configs/coins/ethereum_testnet_sepolia_archive.json
Due: none

zcash (+testnet) 5.7.0 → 5.8.0
  configs/coins/zcash.json
  configs/coins/zcash_testnet.json
Due: backend-deploy-and-test-zcash, backend-deploy-and-test-zcash_testnet

etc 1.12.17 → 1.12.18
  configs/coins/ethereum-classic.json
Due: none

Update typescriptify library and typescript types
  blockbook-api.ts
  go.mod
  go.sum
Due: none

dash (+testnet) 20.0.3 → 20.0.4
  configs/coins/dash.json
  configs/coins/dash_testnet.json
Due: backend-deploy-and-test-dash

update backend versions and snapshot endpoints
  build/docker/deb/Dockerfile
  build/templates/backend/scripts/optimism.sh
  build/templates/backend/scripts/optimism_archive.sh
  build/templates/backend/scripts/optimism_archive_legacy_geth.sh
  configs/coins/optimism.json
  configs/coins/optimism_archive.json
  configs/coins/optimism_archive_op_node.json
  configs/coins/optimism_op_node.json
Due: none

Path conditions:
  backend-deploy-and-test-bcash: any of: configs/coins/bcash.json
  backend-deploy-and-test-bgold: any of: configs/coins/bgold.json
  backend-deploy-and-test-bitcoin: any of: configs/coins/bitcoin.json
  backend-deploy-and-test-dash: any of: configs/coins/dash.json
  backend-deploy-and-test-digibyte: any of: configs/coins/digibyte.json
  backend-deploy-and-test-dogecoin: any of: configs/coins/dogecoin.json
  backend-deploy-and-test-litecoin: any of: configs/coins/litecoin.json
  backend-deploy-and-test-namecoin: any of: configs/coins/namecoin.json
  backend-deploy-and-test-vertcoin: any of: configs/coins/vertcoin.json
  backend-deploy-and-test-zcash: any of: configs/coins/zcash.json
  backend-deploy-and-test-bitcoin_testnet: any of: configs/coins/bitcoin_testnet.json
  backend-deploy-and-test-zcash_testnet: any of: configs/coins/zcash_testnet.json
  backend-deploy-and-test-ethereum_testnet_ropsten: any of: configs/coins/ethereum_testnet_ropsten.json
